img {
  width: 750px;
  color: rgb(255, 0, 0);
  background-color: rgb(255, 255, 255);
  display: block;
  margin: 0 auto;
}


@keyframes rotate {
  from {
    transform: perspective(600px) rotateY(45deg);
  }
  to {
    transform: perspective(600px) rotateY(405deg);
  }
}
